>0.3%
not dead
not ie <= 11
not op_mini all
Opera >= 45
OperaMobile >= 45
Chrome >= 58
ChromeAndroid >= 58
Android >= 58
Firefox >= 51
FirefoxAndroid >= 51
Safari >= 10.1
iOS >= 10.3
Edge >= 79
Samsung >= 7.2
UCAndroid >= 13.4
QQAndroid >= 13.1
Baidu >= 13.18
KaiOS >= 3.1
