{
  "module": {
    "type": "commonjs"
  },
  "isModule": "unknown",
  "minify": true,
  "jsc": {
    "target": "es2018",
    "parser": {
      "syntax": "typescript",
      "tsx": false
    },
    "loose": false,
    "minify": {
      "compress": false,
      "mangle": false
    }
  }
}
